@import "./../../../variables.scss";

.chats-list-item {
  padding: 12px 0;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &__avatar {
    background-color: $color-grey-1;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-right: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 8px;
  }

  &__message {
    color: $font-color-1;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    & > span {
      color: black;
      margin-right: 4px;
    }
  }

  &__date {
    position: absolute;
    top: 12px;
    right: 0;
    color: $font-color-1;
    font-size: 10px;
  }

  &__unread {
    position: absolute;
    top: 34px;
    right: 0;
    & > div {
      background-color: $color-primary;
      color: #fff;
      height: 20px;
      min-width: 20px;
      padding: 0px 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      font-size: 11px;
    }
  }
}
