<div class="profile-avatar-edit">
  <a class="profile-avatar-edit__go-back" href="/profile"></a>
  <div class="profile-avatar-edit__modal">
    <div class="profile-avatar-edit__title">Загрузите файл</div>
    <div class="profile-avatar-edit__upload">
      <label>
        Выбрать файл на компьютере
        <input type="file" name="avatar" />
      </label>
    </div>
    {{{buttonAvatarUpload}}}
  </div>
</div>
