@import "./../../variables.scss";

.profile-button {
  display: flex;
  align-items: center;
  height: 32px;
  border-bottom: 1px solid $border-color;

  a,
  button {
    text-decoration: none;
    font-size: 13px;
    color: $color-primary;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &_danger {
    a,
    button {
      color: $color-red;
    }
  }

  &:last-child {
    border: none;
  }
}
