@import "./../../variables.scss";

.button {
  background-color: $bg-color-button;
  border-radius: 8px;
  height: 37px;
  border: 1px solid #cbcbcb;
  font-size: 13px;
  padding: 0 20px;
  cursor: pointer;

  &_link {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: $color-primary;
  }

  &_primary {
    border: none;
    background-color: $color-primary;
    color: $color-white;
  }
}
