@import "./../../variables.scss";

.pages-list {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  &__container {
    height: 100vh;
    background-image: url("/static/img/pattern-bg.jpg");
    background-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 360px;
    background: $color-white;
    box-shadow: 0px 2px 15px $shadow-color;
    border-radius: 12px;
    padding: 30px;

    ul {
      list-style: none;

      li {
        margin-top: 10px;
        color: $color-primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
