@import "./../../variables.scss";

.main {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  &__left {
    height: 100%;
    width: 310px;
    overflow: auto;
  }

  &__right {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
  }

  &-chats-list {
    background-color: #fbfbfb;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;

    &__header {
      padding: 14px 10px;
      border-bottom: 1px solid $border-color;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__content {
      flex-grow: 1;
      flex-shrink: 1;
      padding-bottom: 20px;
      overflow-y: auto;
      position: relative;
      top: 0;
      bottom: 0;
    }

    &__profile {
      text-align: right;
      font-size: 12px;
      line-height: 12px;

      > button {
        border: none;
        background: none;
        text-decoration: none;
        color: $font-color-1;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__search {
      margin-top: 20px;

      input {
        background-color: #efefef;
        border-radius: 8px;
        height: 32px;
        width: 100%;
        padding: 0 20px;
        font-size: 12px;
        border: none;

        &::placeholder {
          text-align: center;
          color: $font-color-1;
        }
      }
    }

    &__empty {
      color: $font-color-1;
      text-align: center;
      font-size: 14px;
      margin: 30px 0;
    }
  }

  &-chat {
    position: relative;
    background-image: url("/static/img/pattern-bg.jpg");
    background-size: 100px;

    &__empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $font-color-1;
      text-align: center;
      font-size: 14px;
    }
  }
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 18px;
  border: 1px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform: rotate(-45deg);
  right: 4px;
  top: 9px;
}
