<main class="main">
  <section class="content">
    <div class="main__container">
      <div class="main__left main-chats-list">
        <div class="main-chats-list__header">
          <div class="main-chats-list__profile">
            <a href="/profile">Профиль <span class="gg-chevron-right"></span></a>
          </div>
          <div class="main-chats-list__search">
            <input name="search" type="text" placeholder="Поиск" />
          </div>
        </div>
        <div class="main-chats-list__content">
          {{{chatsList}}}
        </div>
      </div>
      <div class="main__right main-chat">
        {{{chat}}}
      </div>
    </div>
  </section>
</main>
