@import "./../../variables.scss";

.bad-status-page {
  &__container {
    height: 100vh;
    background-image: url("/static/img/pattern-bg.jpg");
    background-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__status {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
  }

  &__description {
    color: $font-color-1;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
  }

  .button {
    display: inline-block;
    margin-top: 20px;
  }
}
