<div class="bad-status-page">
  <section class="content">
    <div class="bad-status-page__container">
      <div class="bad-status-page__content">
        <h1 class="bad-status-page__status">{{status}}</h1>
        <div class="bad-status-page__title">{{title}}</div>
        <div class="bad-status-page__description">{{description}}</div>
        {{{goBackButton}}}
      </div>
    </div>
  </section>
</div>
