@import "./../../variables.scss";

.profile-field {
  display: flex;
  align-items: center;
  height: 32px;
  border-bottom: 1px solid #eaeaea;

  &__label {
    padding-right: 10px;
    font-size: 13px;
  }

  &__input {
    flex-grow: 1;
    text-align: right;
    border: none;
    padding: 4px 0;
    font-size: 13px;

    &:disabled {
      background-color: transparent;
      color: $font-color-1;
    }
  }

  &:last-child {
    border: none;
  }
}
