<div class="profile-avatar-edit">
  <a class="profile-avatar-edit__go-back" href="/profile"></a>
  <div class="profile-avatar-edit__modal">
    <form id="avatar-edit">
      <div class="profile-avatar-edit__title">Загрузите файл</div>
      <div class="profile-avatar-edit__upload">
        <label>
          Выбрать файл на компьютере
          <input type="file" accept="image/*" name="avatar" />
        </label>
      </div>
      {{{buttonAvatarUpload}}}
    </form>
  </div>
</div>
