<div class="chat-profile">
  <div class="chat-profile__avatar" style="background-image: url({{imgUrl}})"></div>
  <div class="chat-profile__title">{{title}}</div>
  <div class="chat-profile__menu">
    {{{menu}}}
  </div>
</div>
