<div class="chat-profile-menu">
  <button class="chat-profile-menu__button">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="chat-profile-menu__content">
    <ul>
      <li>
        {{{buttonAddUser}}}
      </li>
      <li>
        {{{buttonDeleteUser}}}
      </li>
      <li>
        {{{buttonDeleteChat}}}
      </li>
    </ul>
  </div>
</div>
