<div class="chat-messagebar">
  <form id="form_message">
    <div class="chat-messagebar__attachment"></div>
    <div class="chat-messagebar__input">
      <input name="message" type="text" placeholder="Сообщение" />
    </div>
    <div class="chat-messagebar__button">
      <button type="submit">
        <span class="gg-arrow-right"></span>
      </button>
    </div>
  </form>
</div>
