$color-primary: #3369f3;
$color-white: #ffffff;
$color-red: #ff0000;
$color-grey-1: #efefef;

$font-color-1: #999;

$border-color: #eaeaea;
$border-color-message: #dbdbdb;
$border-color-message-my: #c7d0df;

$bg-color-button: #f6f6f6;
$bg-color-input: #f0f0f0;
$bg-color-transparent: #00000081;
$bg-color-message: #f8f8f8;
$bg-color-message-my: #e4edfd;

$shadow-color: rgba(3, 22, 71, 0.25);
