<div class="chat-message {{isMy}}">
  <div class="chat-message__container">
    <div class="chat-message__author">{{author}}</div>
    <div class="chat-message__text">{{content}}</div>
    <div class="chat-message__time">{{time}}</div>
  </div>
</div>
